body {
  background-color: #282c34;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 100%;
  height: 30px;
  background: #282c34;
  color: #ffffff;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

.search, select {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
}

.search input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 70px;
}

.search input:focus {
  outline: none;
}

.search button {
  width: 60px;
  height: 25px;
  position: absolute;
  right: 2px;
  top: 2.5px;
}